@import url(palette.css);

#game-container {
    background-color: #ccc;
    width: 100%;
    height: 100%;
    perspective: 500px;
    padding: 3em;
    background-color: var(--dark-lava);
}

#board {
    margin: 0 2em 0 2em;
    background-color: var(--dark-brown);
    display: flex;
    flex-direction: row;
    transform: rotateX(10deg);
    transition: transform 2s;
}

#board,
.hole {
    border-radius: 2em;
    border: 0.3em solid darkslategrey;
}

#board .hole-area {
    padding: 2em 0;
    gap: 1em;
    flex-direction: column;
}

#board .hole-row {
    gap: 1em;
    width: 600px;
}

#board .storage {
    margin: 0 1em;
    width: 6rem;
}

#board .hole {
    flex-basis: 6rem;
    min-width: 3rem;
    height: 12rem;
    background-color: black;
    opacity: 40%;
    overflow: hidden;
}

#board .storage .hole {
    height: 25rem;
}

#board .seed {
    display: inline-block;
    position: relative;
    background-color: green;
    width: 1.5em;
    height: 2.5em;
    border: 5px inset darkolivegreen;
    border-radius: 50%;
}
