* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fall {
    animation: falling 2s;
}

@keyframes falling {
    from {
        transform: scale(2);
    }
    to {
    }
}
