@import url(palette.css);

.popup {
    background-color: var(--champagne);
    font-family: var(--popup-font);
    font-size: 1.5em;
    padding: 10px 0;
    margin: 0 auto;
    width: 70%;
    max-width: 700px;
    position: relative;
}

.popup-title {
    margin: 20px 0;
}

.popup-container h1 {
    margin: 20px 0 0 0;
}

.popup-content {
    font-size: 1em;
    padding: 10px;
}

.popup-title {
    text-align: center;
}

#close {
    position: absolute;
    left: 90%;
    width: 50px;
    cursor: pointer;
    text-align: center;
    font-family: inherit;
    font-size: 1em;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    margin-right: 10px;
}

.popup-container {
    position: absolute;
    margin-top: 120px;
    width: 100%;
    z-index: 1;
}

@media only screen and (max-width: 700px) {
    .popup {
        width: 100%;
    }
}

@media only screen and (max-height: 800px) {
    .popup-container {
        margin-top: 50px;
    }
}
