@import url(palette.css);

/* Style */
.popup {
    background-color: var(--champagne);
    font-family: var(--popup-font);
    font-size: 1.5em;
}

.popup * {
    text-align: center;
}

.popup-content {
    font-size: 1em;
}

/* Layout */
.popup {
    text-align: right;
    padding: 20px 0;
    margin: 0 auto;
    width: 65%;
}

#close {
    position: relative;
    right: 25px;
    padding: 0px;
    cursor: pointer;
    text-align: center;
    font-family: inherit;
    font-size: 1em;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
}

.popup * {
    margin: 0 auto;
}

.popup-content {
    margin-top: 5px;
}

.popup-container {
    position: absolute;
    margin-top: 120px;
    width: 100%;
    z-index: 1;
}
