@import url(palette.css);

.tab-selector label,
#who_starts label {
    border-color: transparent;
}

.tab-selector input[type="radio"] {
    display: none;
}

.tab-selector input[type="radio"]:checked + label {
    border-color: black;
    background-color: var(--champagne);
}

#who_starts input[type="radio"]:checked + label,
#play {
    background-color: transparent;
    border-color: black;
}

.tab-content {
    border-color: black;
}

.tab-content input[type="radio"] {
    display: none;
}

.tab-content input[type="range"] {
    margin-right: 10px;
}

.tab-selector {
    margin: 0px 0 -2px 20px;
}

.tab-selector label,
#who_starts label {
    cursor: pointer;
    border-style: solid;
    display: inline-flex;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
}

.tab-selector label {
    border-width: 2px 2px 0 2px;
    border-radius: 5px 5px 0 0;
}

.tab-content {
    margin: 0 10px;
    border-style: solid;
    border-width: 2px;
    padding-bottom: 5px;
    display: grid;
    justify-content: space-between;
}

#options {
    margin-top: 10px;
    margin-left: 10px;
}

#login {
    grid-column: 2;
    grid-row: 1;
    margin-right: 25px;
}

#play {
    display: flex;
    margin: 15px auto 0 auto;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.5em;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
}

#login {
    margin-top: 10px;
}

.tab-content .option {
    margin-bottom: 10px;
}

.tab-content input {
    margin-top: 5px;
}

#who_starts label {
    margin-top: 5px;
}
