@import url(palette.css);

/* Style */

.tab-selector label,
#variable label {
    border-color: transparent;
}

.tab-selector input[type="radio"]:checked + label {
    border-color: black;
    background-color: var(--champagne);
}

#variable input[type="radio"]:checked + label,
#play {
    background-color: transparent;
    border-color: black;
}

.tab {
    border-color: black;
}

/* Layout */
#settings .popup-content * {
    text-align: left;
}

#settings input[type="radio"] {
    display: none;
}

.tab-selector {
    margin: 0px 0 -2px 20px;
}

.tab-selector label,
#variable label {
    cursor: pointer;
    border-style: solid;
    display: inline-flex;
    justify-content: center;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
}

.tab-selector label {
    border-width: 2px 2px 0 2px;
    border-radius: 5px 5px 0 0;
    width: 110px;
}

.tab {
    margin: 0 10px;
    border-style: solid;
    border-width: 2px;
    height: 355px;
    padding-bottom: 5px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    gap: 0;
}

#options * {
    display: block;
    margin: 0;
}

#options {
    grid-column: 1;
    grid-row: 1;
    margin-top: 10px;
    margin-left: 10px;
}

#login {
    grid-column: 3;
    grid-row: 1;
}

#options input[type="range"] {
    margin-right: 15px;
}
#options div {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-top: 5px;
}

#variable {
    height: 60px;
    display: block !important;
}

#variable input[type="text"] {
    margin-top: 10px;
}

#variable label {
    margin-top: 5px;
    width: 85px;
    padding: 2px;
}

#play {
    grid-column: 2;
    grid-row: 2;

    margin: 25px auto 0 auto;
    cursor: pointer;
    text-align: center;
    font-family: inherit;
    font-size: 1.5em;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
}

#login {
    margin: auto auto;
    display: block;
}

#login * {
    display: block;
    margin: 10px auto;
}

#login label {
    width: 80px !important;
}

#login input[type="text"],
#login input[type="password"] {
    margin-left: 5px;
    width: 150px;
}
